extends layout
    
block content
    h1= title
    br
    p Welcome to #{title}
    br
    p #{title} is a tool with witch you can product nice <b>focus images</b> of yahoo index page.
    br
    p 
        a(href='/index.html',class='enter_link') Try #{title} here!