doctype 5
html
    head
        title 图文合成
        link(rel='stylesheet', href='static/style.css')
    body(onselectstart='return false;')
        div(id='picmaker')
            div(class='hidden', style='font-family:LanTingHei;') 字体
            div(class='canvas')
                p(class='head')
                    b
                        span(class='red') ***
                        a(href='http://wiki.corp.cnb.yahoo.com/wiki/index.php/%E7%84%A6%E7%82%B9%E5%9B%BE%E8%A7%84%E8%8C%83', target='_blank') 雅虎首页新闻类焦点图规范
                        span(class='red') ***
                canvas(id='stage',width='419',height='160',class='stage')
            div(class='operate')
                label 图片地址：
                form(method='post',action='/index.html',enctype='multipart/form-data')
                    input(class='txt ipt_up', type='file', name='img_file')
                    input(id='btn_upload', class='btn upload', type='submit', value='上传')
                input(type='hidden', id='ipt_url', value='#{bg}')
                br
                br
                label 底图放缩：
                input(class='range', max='1000', min='10', step='1', type='range', id='ipt_range', value='100')
                input(class='txt range_val', max='1000', pattern='[0-9]', type='text', id='ipt_range_val', value='100') %
                br
                br
                label 文本标题：
                textarea(id='ipt_title', class='txt', placeholder='标题文字') 标题
                br
                button(id='btn_save', class='btn') 提交
        div(id='preview',style='display:none;')
            a(class='back', href='javascript:void(0);') 返回操作
            div(id='view_list', class='fix')
            a(class='back', href='javascript:void(0);') 返回操作
        script(src='http://cn.yimg.com/js/jquery/jquery-1.6.4.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='static/stage.js')